body {
    font-family: arial, helvetica, sans-serif;
}

h1,
h2 {
    text-align: center;
    color: darkolivegreen;
}

.container {
    max-width: 1060px;
    margin: 10px auto;
}

iframe {
    padding-bottom: 40px;
    width: 95%;
    height: 500px;
    border: 5px solid black;
}